.App {
	text-align: center;
	font-size: 35px;
	margin-top: 20%;
}

.App-title {
	font-size: 80px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
	display: inline;
	margin: 10px;
}

.Stopwatch-hours, .Stopwatch-minutes, .Stopwatch-seconds {
	display: inline;
	margin: 10px;
}

.Deadline-input {
	font-size: 25px;
	margin: 5px;
}
